<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Splendid</title>
        <link rel="stylesheet" href="../public/css/main.css">
    </head>
    <body>
        <header class='front-header'>
                <a href="../home.html"><img class = "page-logo" src="https://fontmeme.com/permalink/210321/295ca4b95d8b873a1e2e12545ee0a79d.png" alt="graffiti-creator" border="0"></a>
        </header>
        <div class='mid'>
            <center><div class="lofi">
                <div class='container-header'>
                    <ol>LATEST LOFI
                        <li class="lilist">
                            <audio id="icon5" src="../public/img/music-playlist/soupnsoul.wav" controls style="width: 90%; margin-bottom: 1%;">
                                <embed
                                    src="../public/img/music-playlist/soupnsoul.wav"
                                    width="150"
                                    height="90"
                                    loop="false"
                                    autostart="false">
                                >
                            </audio><br>Soup & Soul
                            </li>
                    <li>
                    <audio id="icon" src="../public/img/music-playlist/lofibeat-monarch.mp3" controls style="width: 90%; margin-bottom: 1%;">
                        <embed
                            src="../public/img/music-playlist/lofibeat-monarch.mp3"
                            width="150"
                            height="90"
                            loop="false"
                            autostart="false">
                        >
                    </audio><br>Monarch
                    </li>
                    <li>
                        <audio id="icon2" src="../public/img/music-playlist/lofibeat-miniphone.mp3" controls style="width: 90%; margin-bottom: 1%;">
                            <embed
                                src="../public/img/music-playlist/lofibeat-miniphone.mp3"
                                width="150"
                                height="90"
                                loop="false"
                                autostart="false">
                            >
                        </audio><br>Mini-Phone
                    </li>
                    <li>
                        <audio id="icon3" src="../public/img/music-playlist/Conflict.mp3" controls style="width: 90%; margin-bottom: 1%;">
                            <embed
                                src="../public/img/music-playlist/Conflict.mp3"
                                width="150"
                                height="90"
                                loop="false"
                                autostart="false">
                            >
                        </audio><br>Conflict
                    </li>
                    <li>
                        <audio id="icon4" src="../public/img/music-playlist/andscenev2.1.mp3" controls style="width: 90%; margin-bottom: 1%;">
                            <embed
                                src="../public//img/music-playlist/andscenev2.1.mp3"
                                width="150"
                                height="90"
                                loop="false"
                                autostart="false">
                            >
                        </audio><br>And Scene
                    </li>
                    </ol>
                </div>
            </div></center>
            <center><div class='container-header'>
                <iframe class="frame" style="border-radius: 10px; z-index: -2;" src="https://open.spotify.com/embed/playlist/37i9dQZF1DWWQRwui0ExPn" width="800" height="600" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                <iframe class='frame' style="border-radius: 10px;" src="https://open.spotify.com/embed/playlist/28gkj3su0EjS9tD20XTG9T" width="800" height="600" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe><br>
                <iframe class="frame" style="border-radius: 10px;" width="800" height="400" src="https://www.youtube.com/embed/5qap5aO4i9A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </center>
        </div>
        <footer>
            <div class='footer'>
                <center><a href='/views/contact.html' class="contact">Contact</a><br>
                        <a href='/views/terms.html' class="contact">Terms & Conditions</a>
                </center>
            </div>
        </footer>
        <script src="../app.js">
        </script>
    </body>
</html>